<div class="container justify-content-center align-items-center gap-5 p-5">
    <h1 class="text-center text-light">SIGN-UP FOR ODOR NEWSETTLER</h1>
    <p class="text-center text-light">
        be the first to know about our newest arrivals, special offers and store events near you.
    </p>
    <form id="signuparea" method="post" action="#">
        <div class="row gap-3 justify-content-center mt-5">
            <input type="text" class="col-4">
            <input type="submit" class=" col-2 btn btn-light">            
        </div>
    </form>
</div>

<div class="container">
    <div class="row justify-content-evenly pb-5">
        <div class="col-md-2 col-12 text-center text-md-start">
            <h4 class="text-orange pt-3 pb-2">Customer Service</h4>
            <a href="#"><h5 class="text-light fs-6 pb-1">Our terms and condiotns</h5></a>
            <a href="#"><h5 class="text-light fs-6 pb-1">Our privcy and policy</h5></a>
            <a href="#"><h5 class="text-light fs-6 pb-1">Dilevry and returns</h5></a>
            <a href="#"><h5 class="text-light fs-6 pb-1">Refund policy</h5></a>
        </div>
        <div class="col-md-2 col-12 text-center text-md-start">
            <h4 class="text-orange pt-3 pb-2">About us</h4>
            <a href="#"><h5 class="text-light fs-6 pb-1">About Odor</h5></a>
            <a href="#"><h5 class="text-light fs-6 pb-1">how to pharce</h5></a>
        </div>
        <div class="col-md-2 col-12 text-center text-md-start">
            <h4 class="text-orange pt-3 pb-2">Contact us</h4>
            <a href="#"><h5 class="text-light fs-6 pb-1">contact us</h5></a>
        </div>
        <div class="col-md-2 col-12 text-center text-md-start">
            <h4 class="text-orange pt-3 pb-2">Keep in touch</h4>
        </div>
    </div>
</div>

<div class="bg-light d-flex align-items-center justify-content-center p-3 m-0 text-dark text-center fs-5">
    all copywrites are saved for <span class="text-orange">@ammaralaa</span>
</div>