*{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 !important;
}
.premuim-black{
    background: linear-gradient(to bottom , #0c0c0cec 0% , #000000 100%);
}
.premuim-black-reverse{
    background: linear-gradient(to bottom , #000000 0% , #0c0c0cec 100%);
}
svg{
    fill: orangered;
}
.bg-black{
    background-color: #000000;
}
.text-black{
    color: #000000;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-orange{
    color: orangered !important;
}
.bg-orange{
    background-color: orangered !important;
}
.btn{
    transition: all 0.5 ease;
    will-change: all;
    align-items: center;
}

/* .btn:hover{
    transform: translateY(-2px);
} */
a{
    text-decoration: none;
}
.hidden{
    display: none !important;
}
.bg-blur{
    backdrop-filter: blur(20px) !important;
    background-color: rgba(0, 0, 0, 0.397) !important;
}
.rounded{
    border-radius: 30px;
}
.fw-extra-bold {
    font-weight: 900 !important;
  }
  .text-bordered {
    color: white; /* text fill */
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5); /* border thickness and color */
  }
  
/* ====================================================key frames===================================================== */
@keyframes changeBg {
    0%   {background-image: url(../assets/images/bgs/bg4.jpg);}
    33%  {background-image: url(../assets/images/bgs/bg5.jpg);}
    66%  {background-image: url(../assets/images/bgs/bg6.jpg);}
    100% {background-image: url(../assets/images/bgs/bg4.jpg);}
}
@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes autoshow_animation{
    0%{
        opacity: 0;
        transform: scale(0.6) translateY(25%);        
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    
}
/* ============================================================================================================== */
/* hero section  */
.hero{
    position: relative;
    width: 100%;
    min-height: 86dvh;
    overflow: hidden;
    animation: changeBg 18s infinite;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
@media (max-width:600px) {
    .hero{
        height: 90dvh;
    }
}
.hero .bg-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content{
    z-index: 10;
    position: absolute;
    margin :calc(15px + 5vw) calc(30px + 10vw);
    max-width: 600px;
    /* animation: fadeIn 5s ease-in-out; */
}  
.hero-content > *{
    opacity: 0;
    transition: opacity 1s ease , transform 1s ease;
    transform: translateY(-30px);
    will-change: opacity , transform;
} 
.text-huge{font-size: calc(30px + 3vw);}

/* cards  */
.card{
    overflow: hidden;
}
.card-overlay{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.card-img{
    transform: scale(1);
    transition: transform 0.6s ease;
    will-change:transform ;
}
.offers .card-img:hover{
    transform: scale(1.07);
}
#signuparea{
    /* display: inline-block; */
    position: relative;
    padding-bottom: calc(20px + 2vw);
}
#signuparea::after{
    content: "";
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 0.6px;
    left: 0;
    bottom: 0;
}


footer svg{
    fill: aliceblue !important;
}
/* forms  */
.regesiter-form{
    box-shadow: 0 0 20px rgba(255, 68, 0, 0.568);
}
.form-control {
    background-color: #222;
    color: #fff;
    border: 1px solid orangered;
  }
  .form-control::placeholder {
    color: orangered;
  }
  .btn-warning {
    background-color: orangered ;
    border-color: orangered;
  }
  .btn-warning:hover {
    background-color: rgba(255, 68, 0, 0.79);
    border-color: orangered;
  }
  .swiper-slide {
    aspect-ratio: 7/9;   
    overflow: hidden;
    border-radius: 15px;
  }
  
  .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important; 
    display: block;
  }
  .swiper-slide .card{
    width: 100% !important;
    height: 80% !important;
  }
  .swiper-button-next,
.swiper-button-prev {
  display: none !important;   
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  display: flex !important;  
}

.add-in-cart{
    border: none;
    color: #252525;
    width: 100%;
}
.add-in-cart:hover{
    color: #000000;
}
.bg-orange-overlay{
    background-color: rgba(255, 68, 0, 0.846);
    transform: translateY(25%);
    opacity: 0;
    transition:all 0.5s ease;
    will-change: all;
}
.bg-orange-overlay:hover{
    background-color: orangered;
}
.card:hover .bg-orange-overlay{
    transform: translateY(0);
    opacity: 1;
}


/* products page  */
.ocean-overlay{
    background-color: #0000007c;
}

.products-hero-content > *{
    opacity: 0;
    transition: opacity 1s ease , transform 1s ease;
    will-change: opacity , transform;
} 
.products-hero-content > h1:first-child{
    transform: translateY(-40px);
}
.products-hero-content > h1:nth-child(2){
    transform: translateX(-50px);
}
.products-hero-content > h1:last-child{
    transform: translateY(40px);
}
.appear {
    transform: translate(0) !important;
    opacity: 1;
}
.autoshowCards{
    animation: autoshow_animation both ease-in-out;
    animation-timeline: view(90%  30%);
}
.autoshow{
    animation: autoshow_animation both ease-in-out;
    animation-timeline: view(60%  20%);
}

.col-animate{
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 400ms ease, transform 400ms ease;
    will-change: opacity, transform;
}
  
.col-animate.appear{
    opacity: 1;
    transform: none;
}
  